# Системные настройки VS Code (содержат локальные пути)
.vscode/

# Кэш Python (временные файлы компиляции)
__pycache__/
*.pyc

# ЛОКАЛЬНЫЕ ДАННЫЕ (Самое важное!)
# Мы игнорируем содержимое папок, чтобы не пушить пароли и архивы в интернет
Encoder/archives/*
Encoder/passwords/*

# Исключаем сами папки из отслеживания, если они пустые
Encoder/archives/
Encoder/passwords/

# Временные файлы Windows
Thumbs.db
desktop.ini